@import url('<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> ')
body{
font-family: 'Roboto',sans-serif;
font-weight: 300;
}
#simple {
  background-image: url(../img/ipad-landscape.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
}
#simple::after{
  clear: both;
  display: block;
  content: "";
}
#simple div {
  width: 50%;
  box-sizing: border-box;
  float: right;
  padding: 25px;
}
#simple hr{
  width: 50px;
  float: left;

}
#simple a{
  text-transform: uppercase;
  font-size: 80%;
}
