@import url('https://fonts.googleapis.com/css?family=Mouse+Memoirs');

h3{
  font-family: 'Mouse Memoirs', sans-serif;
}
section{
  background-image: url(../img/Wood-BG-Red.jpg);
}
div.container{
  max-width: 1160px;
  margin: 0 auto;
}
ul li{
  width: calc(1160px / 5);
  display: inline-block;
  float: left;
  text-align: center;
  font-size: 150%;
  padding: 20px;
  box-sizing: border-box;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
ul::after{
  clear:both;
  display: block;
  content: '';
}
ul li img{
  width: 100%;
}
ul li a{
  text-decoration: none;
  color: white;
}
