@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

h1 {
  font-family: 'Fredericka the Great', cursive;
}
.name {
  font-size: 1.5rem
}
.content.display-container  {
position: relative;
}
.button {
  height: 80px;
  position: absolute;
  top: 40%;
  background-color: Transparent;
  color: black;
  outline: none;
  border: none;
  transition: 1000ms all;
}
.button:hover {
  text-shadow:
   1px 1px .25px hsl(234, 67%, 94%),
   2px 2px 8px hsl(234, 67%, 94%),
   -1px 1px .25px hsl(234, 67%, 94%),
   -2px 2px 8px hsl(234, 67%, 94%),
   1px -1px .25px hsl(234, 67%, 94%),
   2px -2px 8px hsl(234, 67%, 94%),
   -1px -1px .25px hsl(234, 67%, 94%),
   -2px -2px 8px hsl(234, 67%, 94%)
}
.display-left {
  left: 0;
}
.display-right {
  right: 0;
}
.container-div {
  display: flex;
  justify-content: center;
}

#nav-div a {
color: black;
text-decoration: none;
display: block;
padding: 15px 25px;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
text-transform: uppercase;
font-size: 14px;
position: relative;
transition: color .25s;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  zoom: 1;
  font-size: 0;
}
#nav-div {
  background-color: orange;
}
#nav-div a:hover {
  color: red;
}
#nav-div ul li a::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #333333;
  transition: width .25s;
}
#nav-div ul li a::after {
  content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
}
article {
  text-align: center;
  background-color: white;
}
.header {
  padding: 4em 4em 2em 4em;
  border-radius: 5px;
  text-align: center;
  background-color: ;
  border: black 1px solid;
}
h2, h1 {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.375;
}
footer {
  text-align: center;
}
.color {
  background-color: lightgrey;
}
footer a {
  display: block;
}
#first{
  padding: 150px 90px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 5px;
  background-color: white;
  color: hsl(0, 0%, 26.7%);
  text-align: center;
  border-bottom: solid lightgrey 25px;
}
#first a {
  padding: 10px 25px;
  text-decoration: none;
  color: hsl(0, 0%, 26.7%);
  border-radius: 5px;
  transition: box-shadow 400ms ease-out;
}
#first a:hover {
  box-shadow: 7px 7px 7px hsla(0, 0%, 0%, 0.47);

}
#second {
  padding: 100px 90px;
  margin-left: 100px;
  margin-right: 100px;
}
#third {
  padding: 200px 90px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 5px;
  background-image: linear-gradient(hsla(100, 20%, 10%, .7), hsla(100, 30%, 30%, .5)), url(https://images.unsplash.com/photo-1487780711836-2b1fe5783580?dpr=1.5&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
