body{
  background-image: url(../img/noice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#skills{
  background-image: url(../img/sporty.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#contact{
  background-image: url(../img/phoneman.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}
#past{
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.red{
  color: red;
}
h1{
  color:red;
  text-align: center;
}
ul{
  color:blue;
  text-align: center;
}
ul li a{
  color:blue;

}
li{
  list-style: none;

}
a{
  text-decoration: none;
}
section{
  text-align: center;
  color: black;
  background-color: #ffffff;
  opacity: .4;
}
